{% if current_user.is_authenticated %}
  Logged in as {{ current_user.username }}
  <a href="/logout">
   <button>Logout</button>
  </a>
{% else %}
<a href="/">login</a>
{% endif %}

<a href="/feedback">feedback</a>
<a href="/users">users</a>

<div class="feedback__form" style='display:flex;flex-direction:column;'">
  <div>Submit feedback</div>
  <form method="POST" action="">
    <div>{{ feedback_form.csrf_token }}</div>
    <div>{{ feedback_form.creator.label }} {{ feedback_form.creator(size=20) }}</div>
    <div>{{ feedback_form.content.label }} {{ feedback_form.content(size=160) }}</div>
    <div>{{ feedback_form.recaptcha }}</div>
    <input type="submit" value="Submit">
  </form>
</div>

{% for field, errors in feedback_form.errors.items() %}
<div class="alert alert-error">
    {{ feedback_form[field].label }}: {{ ', '.join(errors) }}
</div>
{% endfor %}

{% if is_submitted %}
<p>Thank you for the feedback!</p>
{% endif %}
