{{ _("Logged in as") }} {{ current_user.username }}
<a href="/logout">
  <button>{{ _("Logout") }}</button>
</a>
<a href="/feedback">{{ _("feedback") }}</a>

<h1>{{ _("Users") }}</h1>
<table>
  <tr>
    <th>{{ _("id") }}</th>
    <th>{{ _("username") }}</th>
    <th>{{ _("email") }}</th>
  </tr>
{% for user in users %}
<tr>
  <th>{{user.id}}</th>
  <th>{{user.username}} </th>
  <th>{{user.email}} </th>
  <th>  
    {% if current_user.id != user.id %}
      <a href="/users/delete/{{user.id}}">
        <button>{{ _("Delete") }}</button>
      </a>
    {% endif %}
  </th>
</tr>
{% endfor %}
</table>

<h1>{{ _("Messages") }}</h1>
<table>
  <tr>
    <th>{{ _("id") }}</th>
    <th>{{ _("Creator") }}</th>
    <th>{{ _("Content") }}</th>
    <th>{{ _("Created At") }}</th>
  </tr>
{% for message in feedback_messages %}
<tr>
  <th>{{message.id}}</th>
  <th>{{message.creator}} </th>
  <th>{{message.content}} </th>
  <th>{{message.created_at}}</th>
</tr>
{% endfor %}
</table>
